.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.align {
  max-width: 75%;
  margin-left: auto;
    margin-right: auto;
}

.dashboard-graph {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.monthlyGraph {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.month-select {
  max-width: 50%;
  margin-left: auto;
    margin-right: auto;
}

details>summary {
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

.column {
  width: 30px;
  text-align: center
}

.center {
  margin: auto;
  margin-top: 100px;
}

.center-text {
  text-align: center;
}

.column-wide {
  width: 130px;
  text-align: center
}

#top {
  display: flex;
  text-align: center;
  position: absolute;
  margin-top: 10vh;
}

#margin {
  margin-top: 100px;
}

#narrow {
  margin-left: 10vw;
  margin-right: 10vw;
}

#header-height {
  height: 12vh;
}