/* input {
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
    width: 20vw;
}

button {
    border-radius: 15px;
    width: 21vw;
}


#pound {
     background-image: none;
     background-repeat: no-repeat;
}
 */



