.rotatingText {
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 18px;
    text-align: center;
}

.rotatingText-adjective {
    font-family: "Georgia", serif;
    font-style: italic;
    left: 0;
    position:absolute;
    margin-bottom: 0;
    margin-top: 0px;
    opacity: 0;
    right: 0;
    text-align: center;
    top: 48;
}

.rotatingText-adjective:nth-of-type(1) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: 3s;
}

.rotatingText-adjective:nth-of-type(2) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: 4.5s;
}

.rotatingText-adjective:nth-of-type(3) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: 6s;
}

.rotatingText-adjective:nth-of-type(4) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: 7.5s;
}

.rotatingText-adjective:nth-of-type(5) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: 9s;
}

.rotatingText-adjective:nth-of-type(6) {
    animation-name: rotate-last;
    animation-duration: 1.5s;
    animation-delay: 10.5s;
}

.rotatingText-adjective:nth-of-type(7) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: 12s;
}

.rotatingText-adjective:nth-of-type(8) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: 13.5s;
}

.rotatingText-adjective:nth-of-type(9) {
    animation-name: rotate-last;
    animation-duration: 1.5s;
    animation-delay: 15s;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    20%,
    80% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    100% {
        opacity: 0;
        transform: translate3d(0, -25px, 0);
    }
}

@keyframes rotate-last {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    50%,
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}